/caseSensors/config/caseConfig.json
/caseSensors/config/secrets.json
/common/*.json
/common/__pycache__/*
/common/config.json
/common/secrets.json 
/hardwareSensors/scratch.py 
/hardwareSensors/opi5plus.py 
/windows/hardwareData.log
/windows/config/secrets.json 
/windows/config/windowsConfig.json
/windows/hardwareDataWindows.log
/windows/__pycache__/*
/linux/__pycache__/*
/linux/config/config.json
/linux/config/secrets.json
/linux/hardwareData.log
/linux/config/opi5plus.json
/linux/config/OrangePi5_config.json
*.log 